<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Factura electrónica</title>
        <div th:replace="fragments/header :: header-css"/>
        
    </head>
    <body>
    
    
    <div th:replace="fragments/header :: header"/>
  
  
  <div class="wrapper">

	    <nav id="sidebar" class="active">
	        <!-- Sidebar Header -->
	        <div class="sidebar-header">
	            <h3>Opciones de búsqueda</h3>
	        </div>
	
	        	<form th:action="@{/consultafacturas}" th:object="${facturasForm}" method="get">
					  <div class="form-group">
					    <label for="concepto">Concepto</label>
					     <input type="text" class="form-control" th:field="*{concepto}"  placeholder="concepto"/>
					  </div>
					  
					  <div class="form-group">
					    <label for="numaries">Numero @ries</label>
					     <input type="text" class="form-control" th:field="*{numaries}"  placeholder="Numero @ries"/>
					  </div>
					  
					  <div class="form-group">
					    <label for="numface">Numero FACE</label>
					     <input type="text" class="form-control" th:field="*{numface}"  placeholder="Numero FACE"/>
					  </div>
					  
					  <div class="form-group">
					    <label for="nifemisor">NIF del emisor</label>
					     <input type="text" class="form-control" th:field="*{nifemisor}"  placeholder="NIF del emisor"/>
					  </div>

					  
					  							  
					  <button type="submit" class="btn btn-primary">Buscar</button>
					  <button type="submit" class="btn btn-primary">Limpiar filtro de busqueda</button>
				</form>
	        
	        
	        
	    </nav>
  
     	<div class="container-fluid">
     	
     			<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
       				 <i class="glyphicon glyphicon-align-left"></i>
        				Opciones de búsqueda
    			</button>
    			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
			    		<i class="glyphicon glyphicon-align-left"></i>
			    		Alta de factura en formato papel
			  	</button>
				    
				  <div class="panel panel-primary">
					  <div class="panel-heading">
			    			<h3 class="panel-title">Lista de facturas</h3>
			  		  </div>
				  	<div class="panel-body">      
        	
					        <table id="table_id" class="compact">
					        <thead>
							        	<tr>
									        <th>Fecha de presentacion</th>
									        <th>Fecha de emision</th>
									        <th>Numero de serie</th>
									        <th>Numero factura</th>
									        <th>Concepto</th>
									        <th>Nif del emisor</th>
									        <th>Nombre del emisor</th>
									        <th>Importe</th>
									        <th>Numero Aries</th>
									        <th>Numero FACE</th>
									        <th>Punto de entrada</th>
									        <th>Numero de registro contable</th>
									        <th>Estado</th>
									        <th>Solicitud de anulacion</th>							        
									     </tr>
							     </thead>
							     <tbody>   
								        <tr th:each="factura : ${facturas}">
										        <td th:text="${factura.fechapresentacion}"></td>
										        <td th:text="${factura.fechaemision}"></td>
										        <td th:text="${factura.numeroserie}"></td>
										        <td th:text="${factura.numerofactura}"></td>
										        <td th:text="${factura.concepto}"></td>
										        <td th:text="${factura.nifemisor}"></td>
										        <td th:text="${factura.nombreemisor}"></td>
										        <td th:text="${factura.importe}"></td>
										        <td th:text="${factura.numaries}"></td>
										        <td th:text="${factura.numface}"></td>
										        <td th:text="${factura.puntoentrada}"></td>
										        <td th:text="${factura.numregistrocontable}"></td>
										        <td th:text="${factura.estado}"></td>
										        <td th:text="${factura.solanulacion}"></td>
										        
									    </tr>
							     </tbody>
		    
							</table>
			  				
		  				<div th:replace="fragments/facturaform :: facturaform"/>
			        	</div>
			        </div>
							    
        </div>
 </div>                          
       <div th:replace="fragments/footer :: footer"/>
             
       <script type="text/javascript">
			$(document).ready( function () {
				
				    $('#table_id').DataTable( {
			            "language": {
			            	"sProcessing":     "Procesando...",
			                "sLengthMenu":     "Mostrar _MENU_ registros",
			                "sZeroRecords":    "No se encontraron resultados",
			                "sEmptyTable":     "Ningún dato disponible en esta tabla",
			                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
			                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
			                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
			                "sInfoPostFix":    "",
			                "sSearch":         "Filtrar los resultados:",
			                "sUrl":            "",
			                "sInfoThousands":  ",",
			                "sLoadingRecords": "Cargando...",
			                "oPaginate": {
			                    "sFirst":    "Primero",
			                    "sLast":     "Último",
			                    "sNext":     "Siguiente",
			                    "sPrevious": "Anterior"
			                },
			                "oAria": {
			                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
			                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
			                }
			            }
				    }
				    );
			    
				    $('#sidebarCollapse').on('click', function () {
				        $('#sidebar').toggleClass('active');
				    });
			    
			    
			} );

			</script>
			
			<script th:if="${busquedaresult}" type="text/javascript">
					$('#sidebar').toggleClass('active');
			</script>
			
             
    </body>
</html>